.formGroup {
    padding: 20px;
}

.error input,
.error textarea {
    border: 1px solid red;
}

.error span {
    color: red;
}

.formSummeryError {
    border: 1px solid red;
    padding: 5px;
    color: darkslategray;
}